.container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.chartImg {
    max-height: 400px;
    max-width: 600px;
}

@media (max-width: 990px){
    .chartImg {
        max-height: 300px;
        max-width: 500px;
    }
}