.container {
    margin: 50px 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.card {
    margin: 2% 2% !important; /* Material UI requires this command for it to run on aligned items*/
}

.Grid {
    justify-content: center;
}

.infected {
    border-bottom: 10px solid rgba(86, 86, 177, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(73, 73, 126, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(42, 42, 58, 0.5);
}

.list {
    border: 1px solid rgba(73, 73, 126, 0.5);
    text-align: center;
}


@media (max-width: 990px){
    .card {
        margin: 1rem 2rem !important;
    }

    .container {
        overflow-y: hidden;
    }
}