ul {
    display: flex;
}

li {
    margin-left: 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: grey;
    font-weight: 900;
}

a:hover {
    color: blue;
    transition: .5s;
}